.container {
  padding-top: 40px;
}

ul {
  list-style-type: none;
}

.back-to {
  padding-top: 20px;
}

.details {
  width: 400px;
  padding: 20px 10px;
  background-color: lightgrey;
  border: solid 1px black;
  border-radius: 4px;
}
